.row {
    display: flex;
    flex-direction: column;
  }
  
.col {
    flex: 1;
    
  }

body{
    align-content: center;
    align-items: center;
    font-family: "Roboto";
    background-color: #f7d1ff;
    color: #111;
}
th{
    text-align: right;
}
td{
    width: 90px;
    text-align: right;
    padding-top: 6px;
    padding-bottom: 6px;
}
tr{
    border: 1px solid #AAA; 
}
table {
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    border-style: hidden;
}
div {
    align-content: center;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: auto;
    background-color: white;
    display:table;
    border-radius: 10px;
    position: relative;
}
strong{
    font-weight:bold;
}
.unfixedWidth {
    width: auto;
}
.teamHeader {
    background-color: #f7d1ff ;
    color: #9755A5;
    font-size: 30pt;
    font-weight: bold;
}
.divTitle {
    margin-left: auto;
    margin-right: auto;
    font-size: 22pt;
}
.controlDiv {
    background-color: transparent;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin: 10px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #9755A5;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
@media only screen and (orientation: portrait) {
    table {
        font-size: 18pt;
    }
    td {
        width: 120px;
    }
    a {
        font-size: 18pt;
    }
    .switch {
        zoom: 200%
    }
    .divTitle {
        font-size: 30pt;
    }
    .teamHeader{
        font-size: 36pt;
    }
}